[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libgravatar = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
sqlalchemy = "*"
fastapi = "*"
jose = "*"
alembic = "*"
unicorn = "*"
uvicorn = "*"
psycopg2 = "*"
pydantic = {extras = ["email"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
